<div class="container-fluid">
    <h1 class="text-center text-white">Search for Deal</h1>
    <form class="d-flex">
      <input class="form-control me-2" name="game-title" type="search" #gameTitle placeholder="Enter game title" aria-label="Find Deals">
      <input class="form-control me-2" name="lower-price" type="number" #lowerPrice placeholder="Enter lower price" aria-label="Lower Price">
      <input class="form-control me-2" name="upper-price" type="number" #upperPrice placeholder="Enter upper price" aria-label="Upper Price">
      <select class="form-select" name="store-id" #storeId>
        <option value="">All stores</option>
        <option value="1">Steam</option>
        <option value="5">GameStop</option>
        <option value="8">Origin</option>
        <option value="13">Uplay</option>
        <option value="25">Epic Games</option>
      </select>
      <button (click)="getGamesByTitle(gameTitle.value, lowerPrice.value, upperPrice.value, storeId.value)" class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col"  *ngFor="let game of gamesData">
      <div class="card mt-3" *ngIf="game.isOnSale == 1"> <!--Lists games that are on sale-->
        <img src="{{game.thumb}}" class="card-img-top img-fluid">
        <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <p class="card-text"><s>${{game.normalPrice}}</s></p>
            <p class="card-text" style="font-size: 20px;">${{game.salePrice}}</p>
            <button class="btn btn-primary" (click)="addToWishList(game.title, game.salePrice, game.normalPrice, game.thumb, game.steamRatingPercent, game.dealRating, game.isOnSale)">Add to wish list</button>
        </div>
      </div>
    </div>
  </div>